<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter name:</div>
      <div class="col-md-4">
        <input
          [(ngModel)]="filterText"
          type="text"
          [placeholder]="filterInputPlaceholder"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{filterText}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="users && users.length">
        <thead>
          <tr>
            <th title="name">Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Username</th>
            <th>Age</th>
            <th>Salary</th>
            <th>DOB</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.name | displayName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.salary | currency:"INR" }}</td>
            <td>{{ user.dob | date | uppercase }}</td>
            <td>
              <button (click)="deleteRecord(user.id)" class="btn btn-danger">
                Delete Record
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
